<section>
	<div class="container">
		<div class="row">
			<div class="col-xs-10 col-md-10">
			<h1>Часто задаваемые вопросы</h1>
			<hr>
			<blockquote>
			<%= @text.html_safe %>
			</blockquote>
		</div>
	</div>
</div>
</section>