<div class="welcome">
	<div class="col-md-offset-1 col-md-4">
			<%= @text.html_safe %>
			<a class="sf-roll-button">
				<span>Читать больше</span>
				<span>Читать больше</span>
			</a>
	</div>
</div>