<section class="welcome">
	<div class="col-xs-6 col-md-5 col-sm-offset-1 col-md-offset-1">
		<h1>Добро пожаловать!</h1>
		<div><%= @text.html_safe %></div>
		<a href="<%= about_index_path %>" class="sf-roll-button">
			<span>Читать больше</span>
			<span>Читать больше</span>
		</a>
	</div>
</section>