<section class="content">
	<div class="col-md-10 col-xs-10">		
		<h1>Добро пожаловать!</h1>
		<hr/>
		<div>
			<%= @text.html_safe %>
		</div>
	</div>
</section>
<section>
	<div class="row">
		<div class="col-md-10 col-xs-10 descripton"> 
			<div class="row">
				<div class="col-xs-4">
					<h3>Быстро:</h3>
			 	</div>
			 	<div class="col-xs-4">
			 		<h3>Качественно:</h3>
				</div>
				<div class="col-xs-4">
					<h3>Надежно:</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-4">
					<input  data-fgcolor="#f1c40f"
							data-angleOffset=-90
							data-angleArc=180  
					class="knob  animated" value="0" rel="100" disabled>
			 	</div>
			 	<div class="col-xs-4">
					<input  data-fgcolor="#f68e51"
							data-angleOffset=-90
							data-angleArc=180  
					class="knob  animated" value="0" rel="100" disabled>
				</div>
				<div class="col-xs-4">
					<input  data-fgcolor="#2c3e50"
							data-angleOffset=-90
							data-angleArc=180   
					class="knob  animated" value="0" rel="100" disabled>
				</div>
			</div>
		</div>
	</div>
</section>