 @import ' setting.scss';
 .span-vis{
 	opacity: 1;
 	width: 190px;
 }
 .padding-left-a{
 	@include transition-property(all 0.3s ease-in-out);
 	padding-left: 210px !important;
 }
 .padding-left-b{
 	@include transition-property(all 0.3s ease-in-out);
 	padding-left: 87px !important;
 }

 .page-album{
 	background: url('/assets/project-bg.jpg') no-repeat center center fixed; 
 	@include background-size (cover); 
 }

 .left-content-one{
 	padding-left: 220px!important;
 }
 .left-content-two{
 	padding-left: 100px!important;
 }

 .flexslider {
 	border: 4px solid #2c3f52!important;
 	background: #2c3f52!important;
 }
 .flex-direction-nav a{
 	height: 45px!important;
 }
 #carousel.flexslider .slides > li{
 	margin: 3px !important;
 }


 .title-images-album {
 	width: 100%;
 	top: auto;
 	bottom: 0;
 	opacity: 0;
 	@include translateY(100%);
 	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
 	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
 	transition: transform 0.4s, opacity 0.1s 0.3s;
 	position: absolute;
 	padding: 0 1em;
 	height: 2em;
 	color: $colorLink;
 	text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
 }
 #slider:hover .title-images-album {
 	opacity: 1;
 	@include translateY(0px);
 	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
 	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
 	transition: transform 0.4s, opacity 0.1s;
 }

 .expanded{
 	width: 195px!important;
 }
