$colorLink: #18bc9c;
$colorLinkHover: #bdc3c7!important;
$red: #ed4e6e;
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=latin,cyrillic-ext);
$font: 'PT Sans Narrow', sans-serif;
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic);
$fontContent:'PT Sans', sans-serif;
h1, h2, h3 {
	margin-top: 0;
	margin-bottom: 10.5px;
}
h1, h2, h3, h4, h5, h6{
	font-family: $font;
}

a{
	color: $colorLink!important;
	text-decoration: none!important;
	&:hover{
		color: #bdc3c7 !important;
	}
}
a.list-group-item {
	color: #555555;
	text-decoration: none!important;
}
#wrapper {
	width: 100%;
	height: 100%;
}
/*функции*/
@mixin border-radius ($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}
@mixin transition-property($arguments) {
    -webkit-transition: $arguments;
    -moz-transition: $arguments;
    -o-transition: $arguments;
    transition: $arguments;
}
@mixin background-size ($arguments) {
    -webkit-background-size:  $arguments;
	-moz-background-size:  $arguments;
	-o-background-size:  $arguments;
	background-size:  $arguments;
}
@mixin box-shadow($arguments, $argument){
	-webkit-box-shadow: $arguments, $argument;
	-moz-box-shadow: $arguments, $argument;
	box-shadow: $arguments, $argument;
}
@mixin transform($arg){
	-webkit-transition: -webkit-transform $arg;
	-moz-transition: -moz-transform $arg;
	transition: transform $arg;
}
@mixin translateY($arg){
	-webkit-transform: translateY($arg);
	-moz-transform: translateY($arg);
	-ms-transform: translateY($arg);
	transform: translateY($arg);
}
/* .a (~"$e, $r"){} */

header{
	background: black;
	height: 3em;
	@include box-shadow(0 1px 3px rgba(0,0,0,0.25),inset 0 -1px 0 rgba(0,0,0,0.1));
	a{
		display: block;
		padding-top: 0.7em;
		padding-left: 1em;
	}
}
blockquote {
	border-left: 5px solid #18bc9c;
}
//sidebar
#sidebar{
	height: 100%;
	float: left;
	/* width: 100%; */
	i{
		color: white;
		cursor:pointer;
		margin-right: 0.3em;
		width: 1em;
	}
	ul{
		margin-left: 0;
		padding-left: 0;
		padding-right: 0;
		margin-right: 0;
		li{
			margin-bottom: 1em;
			list-style-type: none;
			@include transition-property(all 0.2s ease-in-out);
			opacity: 0.5;
			span{
			    @include transition-property(all 1s ease-in-out);
			    display: none;	
				a{ 
					@include transition-property(1s ease-in-out);
					opacity: 0;
				}	
			}
			a{
				color: white!important;
			}
			&.active, &:hover{
				opacity: 1;
			}
		}
	}
	/*страница menu*/
	#side-bar-nav{
		width: 67px;
		padding-left: 1.4em;
		height: 100%;
		background: $colorLink;
		display: inline-block;
		padding-right: 1.4em;
		padding-top: 1.5em;
		@include transition-property(all 0.3s ease-in-out);
		span{
			i{
				opacity:0.5;
				font-size: 1.3em;
				margin-bottom: 2em;
				@include transition-property(all 0.2s ease-in-out);
				&:hover{
					opacity: 1;
				}

			}
		}
	}
}
//buttons
.sf-roll-button {
	display: inline-block;
	padding: 0;
	height: 40px;
	line-height: 40px;
	overflow: hidden;
	position: relative;
	text-align: center;
	transition: all 0.35s;
	color:white!important;
	span{
		text-transform: uppercase;
		cursor:pointer;
		background: $colorLink;
		display: block;
		height: 100%;
		position: relative;
		top: 0%;
		transition: top 0.35s;
		width: 100%;
		padding: 0 1em;

	}
	&:hover span{
		background: $red;
		top: -100%;
		color: white;
	}
}
a {
	@include transition-property(all 0.2s ease-in-out);
}
 html {
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	height: 100%;
	background: #ecf0f1;
}

.span-vis{
	opacity: 1;
	width: 190px;
}
.padding-left-a{
    @include transition-property(all 0.3s ease-in-out);
	padding-left: 210px !important;
}
.padding-left-b{
    @include transition-property(all 0.3s ease-in-out);
	padding-left: 87px !important;
}
/*страница привествия*/
.welcome{
	height: 100%;
	background: url('/assets/bg-1.jpg') no-repeat center center fixed; 
	@include background-size (cover);
	h1{
		font-size: 3.5em;
		color: white;
	} 
	> div{
		position:relative;
		top: 40%;
		p{
			color: white;
		}
	}
}
.right-content{
	height: 100%;
	width: 100%;
	margin: 0;
}
/*страница описания*/
section{
	padding-top: 5em;
	padding-left: 4em;
	h1{
		position: relative;
		display: inline-block;
		margin-bottom: 0;
		font-size: 3.5em;
		margin-bottom: .5em;
		float: left;
		margin-right: 0.5em;
		+ hr{
			border-top: 2px solid #2c3e50;
			display: block;
			margin-top: 2.5em;
			& ~ div, & ~ blockquote, & ~ p{ 
				clear: both;
			}
		}
	}

	h1, h2, h3, h4, h5 , h6{
		display: inline-block;
	}
	p:first-child{
		margin-top: 3em;
	}

}

/*страница подвал*/
footer{
	clear:both;
}

/*страница альбомы*/
.project{
	padding-left: 3em;
}
.albums{
	display: block;
	height: 100%;
	background: url('/assets/project-bg.jpg') no-repeat center center fixed; 
	@include background-size (cover);
	h1{
		margin-bottom: 1em;
		color: white;
		display: inline-block;
		font-size: 4em;
		opacity: 0.8;
	}
	hr {
		opacity: 0.8;
		border-top: 2px solid white;
		width: 65%;
		display: inline-block;
		margin-left: 1em;
		vertical-align: -11px;
	}
	.name-album{
		text-align: center;
		padding: 1em 0;
		a{
			color: white!important;
			font-size: 1.2em;
			font-family: "PT Sans Narrow", sans-serif;
			display: inline-block;
			background: $colorLink;
			padding: 0.1em 0.5em;
			text-align: center;
			@include transition-property(all 0.2s ease-in-out); 
			&:hover{
				background: $red;
			}
	}

	}
	.img-album{
		img{	
		padding: 2%;
		background-color: #F1F1F1;
		max-width: 96%;
		@include transition-property(all 0.2s ease-in-out); 
		}
	}
	.grid{
		margin-bottom: 3em;
	}
	.project figure {
		margin: 0;
		position: relative;
		margin-bottom: 3em;
		img {
			z-index: 10;
			position: relative;
			@include transform(0.4s);
			width: 100%;
			border: 4px solid $colorLinkHover;
		}
		figcaption {
		   	width: 100%;
			top: auto;
			position: absolute;
			bottom: 0;
			-webkit-backface-visibility: hidden;
			-moz-backface-visibility: hidden;
			backface-visibility: hidden;
			background: #2c3f52;
			height: 3em;
			padding: 0.5em 0.5em!important;
			text-align: right!important;
			margin-right: 1em;	
		}
		&:hover img{
			@include translateY(-3em);
		}
	}

		
}


