$colorLink: #18bc9c;

h1, h2, h3 {
	margin-top: 0;
	margin-bottom: 10.5px;
}
a{
	color: $colorLink!important;
	text-decoration: none!important;
}
a.list-group-item {
	color: #555555;
	text-decoration: none!important;
}
.carousel-inner{
	height:14em;
	overflow:hidden;
	img{
		width:100%;
	}
}
//header
header{
	background: black;
	height: 3em;
		-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.25),inset 0 -1px 0 rgba(0,0,0,0.1);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.25),inset 0 -1px 0 rgba(0,0,0,0.1);
	box-shadow: 0 1px 3px rgba(0,0,0,0.25),inset 0 -1px 0 rgba(0,0,0,0.1);
}
//sidebar
#sidebar{
	height: 100%;
	width: 100%;
	position: fixed;
	i{
		color: white;
		cursor:pointer;
		margin-right: 0.3em;
		width: 1em;
	}
	ul{
		margin-left: 0;
		padding-left: 0;
		padding-right: 0;
		margin-right: 0;
		li{
			margin-bottom: 1em;
			list-style-type: none;
			transition: all 0.2s ease-in-out;
			-moz-transition: all 0.2s ease-in-out;
			-webkit-transition: all 0.2s ease-in-out;
			-o-transition: all 0.2s ease-in-out;
			opacity: 0.5;
			span{
    			-webkit-transition: all 1s ease-in-out;
			    -moz-transition: all 1s ease-in-out;
			    -o-transition: all 1s ease-in-out;
			    transition: all 1s ease-in-out;
			    display: none;	
				a{ 
					transition: 1s ease-in-out; 
					-moz-transition: 1s ease-in-out; 
					-webkit-transition: 1s ease-in-out; 
					opacity: 0;
				}
					
			}
			a{
				color: white!important;
			}
			&.active, &:hover{
				opacity: 1;
			}
		}
	}
	#side-bar-nav{
		width: 67px;
		float: left;
		padding-left: 1.4em;
		height: 100%;
		background: $colorLink;
		display: inline-block;
		padding-right: 1.4em;
		padding-top: 1.5em;
		-webkit-transition: all 0.3s ease-in-out;
	    -moz-transition: all 0.3s ease-in-out;
	    -o-transition: all 0.3s ease-in-out;
	    transition: all 0.3s ease-in-out;
		span{
			i{
				opacity:0.5;
				font-size: 1.3em;
				margin-bottom: 2em;
				transition: all 0.2s ease-in-out;
				-moz-transition: all 0.2s ease-in-out;
				-webkit-transition: all 0.2s ease-in-out;
				-o-transition: all 0.2s ease-in-out;
				&:hover{
					opacity: 1;
				}

			}
		}
	}
}
//buttons
.sf-roll-button {
	display: inline-block;
	height: 40px;
	line-height: 40px;
	overflow: hidden;
	position: relative;
	text-align: center;
	padding: 0 14px;
	transition: all 0.35s;
	color:white!important;

	span{
	text-transform: uppercase;
		cursor:pointer;
		background: $colorLink;
		display: block;
		height: 100%;
		position: relative;
		top: 0%;
		transition: top 0.35s;
		width: 100%;
		padding: 0 1em;

	}
	&:hover span{
		background: lightgrey;
		top: -100%;
		color: black;
	}
}
a {
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}
 html {
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	height: 100%;
}
.span-vis{
	opacity: 1;
	width: 190p
}
.padding-left-a{
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
	padding-left: 210px !important;
}
.padding-left-b{
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
	padding-left: 87px !important;
}
.welcome{
	height: 100%;
	background: url('/assets/bg-1.jpg') no-repeat center center fixed; 
	 -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	h1{
		color: white;
	} 
	> div{
		position:relative;
		top: 50%;
		p{
			color: white;
		}
	}
}
.right-content{
	height: 100%;
}
.content {
	margin-top:6em;
	padding-left:3em;
	h1{
		position: absolute;
		background: white;
		display: inline-block;
		padding-right: 0.5em;
		top: -6px;
	}
	hr{
		border-top: 2px solid rgb(0, 0, 0);
	}
	p:first-child{
		margin-top: 3em;
	}
}
footer{
	clear:both;
}
.albums{
	height: 100%;
	background: url('/assets/project-bg.jpg') no-repeat center center fixed; 
	 -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	h1{
		color:white;
		display:inline-block;
	}
	hr {
border-top: 2px solid white;
width: 65%;
display: inline-block;
margin-left: 1em;
vertical-align: -11px;
}
	a{
	color: #bdc3c7;
font-size: 16px;
padding-top: 12px;
	}
	img{
	max-width: 100%;
padding: 4px;
background-color: #F1F1F1;
	}
	
}