@import 'setting.scss';
/*шапка сайта*/
header{
	position: fixed;
	z-index: 11;
	width: 100%;
	background-color: #181818;
	height: 3em;
	h3{
		padding-top: 0.3em;
		padding-left: 1em;
		color: #bfbfbf;
		display: inline-block;
	}
	@include box-shadow(0 1px 3px rgba(0,0,0,0.25),inset 0 -1px 0 rgba(0,0,0,0.1));
	a{
		display: inline-block;
		padding-top: 0.7em;
		padding-left: 1em;
	}
	div{
		text-align: right;
		float: right;
		margin-right: 1em;
		span{
			color: #bfbfbf;
			font-size: 1.2em;
			padding-left: 1em;
		}

	}
}
/*основная яасть сайта*/
#wrapper {
	width: 100%;
	height: 100%;
	#sidebar{
		height: 100%;
		position: fixed;
	/* width: 100%; */
	i{
		color: white;
		cursor:pointer;
		margin-right: 0.3em;
		width: 1em;
	}
	ul{
		margin-left: 0;
		padding-left: 0;
		padding-right: 0;
		margin-right: 0;
		li{
			margin-bottom: 1em;
			list-style-type: none;
			@include transition-property(all 0.2s ease-in-out);
			opacity: 0.5;
			span{
				@include transition-property(all 1s ease-in-out);
				display: none;	
				a{ 
					@include transition-property(1s ease-in-out);
					opacity: 0;
				}	
			}
			a{
				color: white!important;
			}
			&.active, &:hover{
				opacity: 1;
			}
		}
	}
	/*страница menu*/
	#side-bar-nav{
		width: 67px;
		padding-left: 1.4em;
		height: 100%;
		background: $colorLink;
		display: inline-block;
		padding-right: 1.4em;
		padding-top: 5em;
		@include transition-property(all 0.3s ease-in-out);
		span{
			i{
				opacity:0.5;
				font-size: 1.3em;
				margin-bottom: 2em;
				@include transition-property(all 0.2s ease-in-out);
				&:hover{
					opacity: 1;
				}

			}
		}
	}
}
.right-content{
	height: 100%;
	width: 100%;
	margin: 0;
		/*страница привествия*/
		.welcome{
			height: 100%;
			font-size: 110%;
			h1{
				font-size: 3.5em;
				display: block;
				width: 100%;
				color: white;
				opacity: 0.8;
			} 
			> div{
				color: white;
				opacity: 0.8;
				position:relative;
				margin-top: 20%;
				p{
					color: white;
				}
			}
			a{
				margin-top: 1em;
				opacity: 1;
			}
		}
		section{
			margin-top: 1%;
			padding-top: 5em;
			padding-left: 100px;
			@include transition-property(all 0.2s ease-in-out);
			h1{
				position: relative;
				display: inline-block;
				margin-bottom: 0;
				font-size: 3.5em;
				margin-bottom: .5em;
				float: left;
				margin-right: 0.5em;
				+ hr{
					border-top: 2px solid #2c3e50;
					display: block;
					margin-top: 2.5em;
					& ~ div, & ~ blockquote, & ~ p{ 
						clear: both;
					}
				}
			}

			h1, h2, h3, h4, h5 , h6{
				display: inline-block;
			}
			p:first-child{
				margin-top: 3em;
			}

		}
	}
	/*страница альбомы*/
	.project{
		padding-left: 3em;
	}
	.album-images{
		margin-top: 3%;
	}
	.albums{
		display: block;
		height: 100%;
		
		h1{
			margin-bottom: 1em;
			color: white;
			display: inline-block;
			font-size: 4em;
			opacity: 0.8;
		}
		hr {
			opacity: 0.8;
			border-top: 2px solid white;
			width: 65%;
			display: inline-block;
			margin-left: 1em;
			vertical-align: -11px;
		}
		.name-album{
			text-align: center;
			padding: 1em 0;
			a{
				color: white!important;
				font-size: 1.2em;
				font-family: "PT Sans Narrow", sans-serif;
				display: inline-block;
				background: $colorLink;
				padding: 0.1em 0.5em;
				text-align: center;
				@include transition-property(all 0.2s ease-in-out); 
				&:hover{
					background: $red;
				}
			}

		}
		.img-album{
			img{	
				padding: 2%;
				background-color: #F1F1F1;
				max-width: 96%;
				@include transition-property(all 0.2s ease-in-out); 
			}
		}
		.grid{
			margin-bottom: 3em;
		}
		.project figure {
			margin: 0;
			position: relative;
			margin-bottom: 3em;
			img {
				z-index: 10;
				position: relative;
				@include transform(0.4s);
				width: 100%;
				border: 4px solid #2c3f52!important;
			}
			figcaption {
				width: 100%;
				top: auto;
				position: absolute;
				bottom: 0;
				background: #2c3f52;
				height: 3em;
				padding: 0.5em 0.5em!important;
				text-align: right!important;
				margin-right: 1em;	
				span{
					color: $colorLinkHover;
					margin-right: 0.3em;
					overflow: hidden;
					float: left;
					height: 22px;
					margin-top: 0.2em;
				}
			}
			&:hover img{
				@include translateY(-3em);
			}
			a{
				position: absolute;
				right: 13px;
			}
		}	
	}
/*страница новостей*/
.news{
	h3{
		margin-top: 1.5em;
	}
	h3:first-child{
		margin-top: 0;
	}
	> div{
		padding-bottom: 2em;
	}
}
/*страница цен*/
.price{
	h3{
		margin-top: 2em;
	}
	.max-price-width{
		max-width: 24em;
	}
	.map{
		padding-bottom: 2em;
	}
	.pricing-column{
		margin:0;
		padding: 0;
		margin-bottom: 1em;
		li {
			text-align: center;
			list-style-type: none;
			margin: 0;
			padding: 12px;
			background: rgba(0,0,0,0.01);
			border-bottom: 1px dotted rgba(0,0,0,0.1);
			&:nth-child(even){
				background: #e3e3e3;
			}
			&.pricing-price {
				color: $colorLink;
				line-height: 120%;
			}
			&.pricing-title {
				font-weight: 600;
				border-top: 4px solid $colorLink;
			}
		}
		&:hover{
			z-index: 1;
			@include box-shadow-one(0 0 20px 0 rgba(0,0,0,0.4));
			li.pricing-title{
				font-weight: 600;
				border-top: 4px solid $red;
			}
		}
	}
}
//about
.descripton{
	margin-top: 4em;
	margin-bottom: 2em;
	h3{
		margin-bottom: 1em;
	}
	label{
		margin-bottom: 1em;
	}
	.max-width-about{
		max-width: 20em;
	}
}
}


/*классы для скрипта*/
@import 'script_css.scss';